<dom-module id="job-card">
    <style>
        :host {
            display: block;
            position: relative;
            background-color: white;
            padding: 20px;
            width: 100%;
            min-width: 800px;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .card {
            height: 100px;
        }

        .card-header {
            margin-bottom: 10px;
            height: 50px;
        }

        polyfill-next-selector {
            content: '.card-header h2';
        }

        .card-header::content h2,h3 {
            margin: 0;
            font-size: 1.8rem;
            font-weight: 300;
        }

        polyfill-next-selector {
            content: '.card-header';
        }

        .card-header::content img {
            border-radius: 50%;
            margin: 10px;
        }
    </style>
    <template>
        <div class="card" center>
            <div class="card-header" layout horizontal center>
                <content select="paper-item"></content>
            </div>
        </div>
    </template>
    <script>
    Polymer({
        is: "job-card",
    })
    </script>
</dom-module>
