<dom-module id="job-service" attributes="jobs">
    <template>
        <google-client-loader id="api" name="jobs" version="v1" app-id="the-processor-88219" api-root="http://localhost:8082/_ah/api">
        </google-client-loader>
    </template>
    <script>
    Polymer({
        is: 'job-service',
        ready: function() {
            var setJobs = (function(data) {
                this.$.jobs = data.result.Jobs;
                // document.querySelector('job-list').jobs = data.result.Jobs;
            }).bind(this);

            this.$.api.addEventListener('google-api-load', (function() {
                this.api = this.$.api.api;
                this.api.getJobs().then(setJobs);
            }).bind(this));
        },
        properties: {
            notify: true,
            response: {
                type: Object,
                reflectToAttribute: true
             }
        }
    });
    </script>
</dom-module>
