<dom-module id="job-list" attributes="show">
   <style>
        :host {
            display: block;
            width: 100%;
            min-height: 600px;
            height: 100%;
        }

        job-card {
            margin-bottom: 30px;
        }

        div::content h2, h4 {
            float: left;
            padding: 10px;
        }

        paper-item {
            width: 600px;
        }

        paper-item-body {
            width: 600px;
        }

    </style>
    <template>
        <job-service id="job-serv" jobs="{{jobs}}"></job-service>
        <div layout vertical center-center>
            <template is="dom-repeat" items="{{jobs}}">
                <job-card>
                    <paper-item>
                        <paper-item-body two-line>
                            <div>
                                <h2>{{item.title}}</h2>
                                <h3>{{item.institution}}</h4>
                                <h3>{{item.from}}</h4>
                                <h3>{{item.to}}</h4>
                            </div>
                            <div>
                                <p>{{item.description}}</p>
                            </div>
                        </paper-item-body>
                    </paper-item>
                </job-card>
            </template>
        </div>
    </template>
    <script>
    Polymer({
        is: "job-list",
        properties: {
            notify: true
        },
        ready: function() {
          // this.service = this.$.service;
          this.jobs = [
            { title: 'Bob', to: "1234-12-12", from: "1234-12-12", institution: "lalala", description: '111111 jjjjjjjjjjjjjjjjjjjjjjjj jjjjjjjjj j jjjjjjjjjjj smith' },
            { title: 'Sally', to: "1234-12-12", from: "1234-12-12", institution: "lalala", description: 'sssssssssss jjjjjjjjjjj kkkkkkkkkkkkkk llllllllllll jhonson'}
          ]

        },
    });
    </script>
</dom-module>
